<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MonitoOrder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MonitoOrder.Properties.Settings>
            <setting name="MonitoredFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PersistentNotifications" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationDuration" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="NotificationSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A4Copies" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="A3Copies" serializeAs="String">
                <value>0</value>
            </setting>
        </MonitoOrder.Properties.Settings>
    </userSettings>
</configuration>